*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.bg-color{
  background-color: rgba(28,39,48,.5);
}

/* background-color: #00c4cc;*/

.boton {
  background-color: rgba(28,39,48,0.5) !important;
}
.letraAzul{
  background-color: #020f1f;
}


.header{
  background-image: url("./IMAGES/Equipo.jpg");
};



.login-form-container {
  background-image: url("./IMAGES/Equipo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
};